node_modules
coverage
.nyc_output
.nuxt
nuxt-dist
doc-dist

# yarn without using zero-installs mode
# cf https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions